<div class="card border-info mb-3" style="max-width: 18rem;">
  <div class="card-header">ジャンル</div>
  <div class="card-body text-info">
    <% genres.each do |genre| %>
      <p class="card-text">
        <%= genre.name %>
      </p>
    <% end %>
  </div>
</div>