<div classa="container mt-3">
  <div class="row">
    <div class="mx-auto">
      <h1>About</h1>
    </div>
  </div>
  <div class="row mt-4">
    <div class="mx-auto">
      <h5>ながのCAKEは全国発送可能なケーキ屋さんです。</h5>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto">
      <h5>お子様からお年寄りまでお召し上がりいただけるよう</h5>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto">
      <h5>様々なバリエーションくをご用意しております。</h5>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto">
      <h5>また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</h5>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto">
      <h5>ぜひご注文下さい。</h5>
    </div>
  </div>

  <div class="row">
    <div class="main">
      <div class="col-md-12"></div>
    </div>
  </div>
</div>